<div>
  <h2>Users</h2>
  <ul>
    <li *ngFor="let user of users">
      <a class="user-link" (click)="getUser(user._id)">{{ user.username }}</a>
      <button (click)="deleteUser(user._id)">Delete</button>
    </li>
  </ul>
</div>

<div>
  <h2>Create User</h2>
  <form (submit)="createUser()">
    <label>
      Username:
      <input type="text" [(ngModel)]="newUser.username" name="username">
    </label>
    <label>
      Email:
      <input type="text" [(ngModel)]="newUser.email" name="email">
    </label>
    <label>
      Phone number:
      <input type="text" [(ngModel)]="newUser.phoneNumber" name="phoneNumber">
    </label>
    <label>
      Hobby:
      <input type="text" [(ngModel)]="newUser.hobby" name="hobby">
    </label>
    <label>
      Skillsets:
      <input type="text" [(ngModel)]="newUser.skillsets" name="skillsets[]" multiple>
    </label>
    <button type="submit">Create</button>
  </form>
</div>

<div *ngIf="selectedUser">
  <h2>{{ selectedUser.username }}</h2>
  <form (submit)="updateUser(selectedUser._id)">
    <label>
      Username:
      <input type="text" [(ngModel)]="selectedUser.username" name="username">
    </label>
    <label>
      Email:
      <input type="text" [(ngModel)]="selectedUser.email" name="email">
    </label>
    <label>
      Phone number:
      <input type="text" [(ngModel)]="selectedUser.phoneNumber" name="phoneNumber">
    </label>
    <label>
      Hobby:
      <input type="text" [(ngModel)]="selectedUser.hobby" name="hobby">
    </label>
    <label>
      Skillsets:
      <input type="text" [(ngModel)]="selectedUser.skillsets" name="skillsets[]" multiple>
    </label>
    <button type="submit">Update</button>
  </form>
</div>
